body
{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

h1
{
    text-align: center;
    font-size: 80px;
}

#score
{
    position: absolute;
    font-size: 60px;
    transform: translateX(450px);
    top: 60px;
    left: 50%;
    display: none;
}


/*BUTTON*/

#startButton
{
    position: absolute;
    left: 50%;
    transform: translateX(-100px);
    text-align: center;
    position: relative;
    z-index: 999;
}

input
{
    text-align: center;
    transition: .3s ease;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #4CAF50;
    cursor: pointer;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

input:hover
{
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

input:active
{
    transform: translateY(5px);
}

/*MEMORY BOARD*/

#board
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    transform: translateY(-60px);
    position: relative;
    margin: 0 auto;
    width: 660px;
}

.column
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*IMAGES*/

img 
{
    border-radius: 8px;
    transform: rotateY(180deg);
}

.element
{
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 1s ease;
}

.element.active, .element.solved
{
    transform: rotateY(180deg);
}

/*PSEUDO ELEMENT AS BACKFACE*/

.element::before
{
    content: "";
    background-color: rgb(161, 247, 227);
    position: absolute;
    background-image: url(adt_logo_noBG.png);
    background-position: center;
    background-size: 100%;
}

img, .element::before
{
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

/*ENDGAME SCREEN*/

#vicscreen
{
    display: none;
    width: 600px;
    height: 400px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,121,9,1) 0%, rgba(0,212,255,1) 100%);
    position: absolute;
    left: 50%;
    transform: translateX(-300px);
    align-items: center;
    justify-content: center;
    top: 170px;
    z-index: 100;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: victoryScreen;
    animation-duration: 2s;
}

@keyframes victoryScreen
{
    0% { opacity: 0;}
    100% { opacity: 1;}
}